.header{
   position: fixed;
   bottom: 0px;
   display: flex;
   width: 100%;
   background: #FF9AA2;
   justify-content: space-around; 

}



.header_logo{
    object-fit: contain;
    height: 70px;
}


